[Unit]
Description=HTTPS Server

[Service]
UMask=022
Environment=LANG=en_US.utf8
Restart=on-failure
ExecReload=/bin/kill -s HUP $MAINPID
StartLimitInterval=60
LimitNOFILE=1000
StartLimitBurst=5
WorkingDirectory=/home/you/letswicrypt
ExecStart=/usr/local/bin/swipl server.pl --https --no-fork --user=www-data \
   --certfile=/var/www/xyz.com/server.crt \
   --keyfile=/var/www/xyz.com/server.key \
   --workers=16 \
   --cipherlist=EECDH+AESGCM:EDH+AESGCM:EECDH+AES256:EDH+AES256:CHACHA20 \
   --keep_alive_timeout=2

[Install]
WantedBy=multi-user.target
