li { padding: 4pt; }
a:link { text-decoration: none;
         color: #0000cc;
       }
a:hover  { background-color:  #4d4dff;
           color: #ffffff;
         }
a:active  { background-color:  #4d4dff;
           color: #ffffff;
         }

h2 { padding-top: 30pt; }
h1 { font-size: 300%; }
pre { padding-left: 5%; }
.query { padding-top: 2pt;
         background-color: #eeeeee;
         width: 100%; }
.box { padding-top: 10pt;
       padding-left: 5%;
       padding-bottom: 10pt;
       background-color: #eeeeee;
       margin-left: 5%;
       padding-right: 5%;
       display: inline-block;
     }
span.nobr { white-space: nowrap; }
.example {  border: 1px dotted;
            padding: 5pt;
            margin-top: 1.5em;
            display: inline-block;
            margin-bottom: 1em;}

.predicate {  border: 1px dotted;
            padding: 5pt;
            margin-top: 1.5em;
            display: inline-block;
            margin-bottom: 1em;}
.quote {  border: 1px dotted;
            padding: 5pt;
            margin-top: 1.5em;
            display: inline-block;
            margin-bottom: 1em;}

