a.tocbutton {
    background-color: #4C50AF;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    width: 100%;
    cursor: pointer;
}

.tocbutton {
    background-color: #4C50AF;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    width: 100%;
    cursor: pointer;
}


a.navigation {
    background-color: #4C50AF;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}    

.navigation:hover, .navigation:focus  { background-color:  #4d4dff;
           color: #ffffff;
         }

.navigation {
    background-color: #4C50AF;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}    

.tocbutton:hover, .tocbutton:focus {
    background-color:  #4d4dff;
    color: #ffffff;
}

/* <div> containing the table of contents */
.toc {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 10pt;
}

/* "Table of Contents" actual content: hidden by default */
.toc-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* links inside the TOC */
.toc-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.currentlink a {
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: bold;
    display: block;
}    

.toc-content a:hover, a:focus {
    background-color: #f1f1f1;
    text-decoration: underline;
}

.show { display: block; }
